/* INTRO */
.intro {
    position: relative;
    text-align: center;
}

.text{
    color: #EBF1FF;
}

.me {
    width: 67.5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.welcome {
    position: absolute;
    font-size: 80px;
    left: 10%;
    right: 10%;
    top: -11%;
    /*transform: translate(-50%, -50%);*/
    text-shadow: 1px 2px 6px #8FA2C4;
}

.stay{
    font-size: 60px;
    position: absolute;
    top: 80%;
    left: 10%;
    right: 10%
}

.intro-arrow{
    position: absolute;
    right: 18%;
    transform: translate(-50%, -50%);
    width: 3%;
}
/* UTILITIES */

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hover a:hover{
    color: #152950;
    transition: 0.3s ease;
}

body {
    background-color: #8FA2C4;
    font-family: Avenir-Black, sans-serif;
    left: 10%;
    width: 100vw;
    height: 100vh;
}

.sub-body{
    margin-left: 50px;
    margin-right: 50px;
}

a {
    text-decoration: none;
}

c {
    color: #FFE6B9;
}

li {
    list-style: none;
}

.center {
    left: 10%;
    right: 10%;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #EBF1FF;
}

/*.right-now-text{*/
/*    color: #EBF1FF;*/
/*}*/

.link a, a:visited{
    color: #EBF1FF;
}

/*.link a:hover{*/
/*    color: #152950;*/
/*    transition: 0.3s ease;*/
/*}*/

/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    /*align-items: center;*/
    justify-content: space-between;
    padding-top: 8px;
    background-color: #EBF1FF;
    color: #EBF1FF;
    width: 100%;
    z-index: 100;
    opacity: .8;
}

.navbar-right{
    float: right;
}

.nav-links a {
    color: #8FA2C4;
    padding-right: 20px;
}

.nav-links a:hover{
    color: #152950;
}

.navbar img {
    float: left;
    width: 55%;
    padding-left: 10px;
}


/* NAVBAR MENU */
.menu {
    display: flex;
    font-family: Avenir-Black, sans-serif;
    text-align: right;
    align-items: center;
    justify-content: space-between;
    color: #8FA2C4;
    font-size: 25px;
}


.menu li:hover {
    color: #152950;
    transition: 0.5s ease-in;
}

.menu li {
    padding: 5px 14px;
}

/* FOOTER */

.footer{
    background-color: #152950;
    width: 100%;
}

.thank-you{
    text-align: center;
    color: #EBF1FF;
    font-family: Avenir-Black Oblique, sans-serif;
    font-size: 30px;
    padding-top: 20px;
}

.footer-links{
    text-align: center;
    font-size: 28px;
    padding-top: 20px;
}

.footer-links a{
    color: #EBF1FF;
}

.footer-links img{
    height: 28px;
}

.footer-links a:hover{
    color: #8FA2C4;
}

.copyright{
    text-align: right;
    color: #8FA2C4;
    font-family: Avenir-Heavy, sans-serif;
    font-size: 17px;
    padding-right: 20px;
    padding-bottom: 10px;
}

/* CHECKBOX HACK */

input[type=checkbox] {
    display: none;
}


.section-header{
    color: #FFE6B9;
    font-size: 50px;
    text-align: center;
    display: block;
}

.section-body{
    font-size: 29px;
    color: #EBF1FF;
}

.section{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*EDUCATION SECTION*/
.education{
    display: flex;
    align-items: center;

    justify-content: center;
    margin-top: 50px;
}
.education-1 {
    float: right;
    padding-right: 90px;
}

.education-2 {
    float: right;
    text-align: right;
    padding-right: 20px;
    padding-top: 20px;
    padding-left: 100px;
}

.education-pic{
    float: right;
    /*height: 30%;*/
    width: 30%;
    padding-top: 80px;
}

/*.education-pic:hover.overlay{*/
/*    opacity: 1;*/
/*}*/

/*.education-pic-text{*/
/*    color: #8FA2C4;*/
/*    font-size: 20px;*/
/*    font-family: Avenir, serif;*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*    -ms-transform: translate(-50%, -50%);*/
/*    text-align: center;*/
/*}*/

/*CREATION SECTION*/
.creation{
    align-items: center;
    justify-content: center;
    display: flex;
}

.creation-1{
    float: left;
    padding-left: 20px;
    text-align: right;
    padding-top: 0;
}

.she-hacks{
    float:left;
    height: 40%;
    width: 40%;
    padding-top: 100px;
}

.column {
    flex: 10%;
    padding: 4px;
}

.column img{
    width: 350px;
    margin-top: 20px;
    vertical-align: middle;
}

.column-1 {
    flex: 10%;
    padding: 4px;
}

.column-1 img{
    width: 500px;
    margin-top: 20px;
    vertical-align: middle;
}

.creation-collage{
    display: flex;
    flex-wrap: wrap;
    /*padding: 5px;*/
    align-items: end;
    padding-top: 20px;
    /*margin-left: 80px;*/
    /*margin-right: 80px;*/
}

.quote {
    color: #EBF1FF;
    position: absolute;
    font-size: 70px;
    text-align: left;
    left: 3%;
    right: 10%;
    padding-top: 50px;
    padding-right: 280px;
    text-shadow: 1px 2px 6px #8FA2C4;
}

/*ME RIGHT NOW SECTION*/

.me-right-now{
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    /*display: flex;*/
}

.text-header{
    position: absolute;
    padding-left: 10%;
}

.right-now-pics{
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    padding-top: 20px;
    /*margin-left: 80px;*/
    /*margin-right: 80px;*/
    padding-bottom: 40px;
}

.img-column{
    flex: 10%;
    padding: 3px;
}

.img-column img{
    width: 90%;
    margin-top: 30px;
}

.right-now-text{
    position: absolute;
    padding-right: 51%;
    margin-top: 60px;
}

.right-now-text-2{
    text-align: right;
    padding-top: 10px;
}

.right-now-text-3{
    padding-top: 10px;
}

.right-now-text-4{
    padding-top: 5px;
    font-size: 30px;
}


/* PROJECTS AND ARCHIVES TEMPLATE */
.sub-body{

}
.subpage{
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
}

.subpage-header{
    text-align: center;
    font-family: Avenir-Black, sans-serif;
    color: #EBF1FF;
    font-size: 50px;
}

.subpage-subheading{
    text-align: center;
    color: #EBF1FF;
}
.subpage-links{
    padding-top: 20px;
    padding-bottom: 40px;
    margin-left: 40px;
}

.subpage-link{
    font-size: 40px;
    text-decoration: underline;
}

.subpage-date{
    font-size: 20px;
    padding-bottom: 20px;
}

.subpage-links a:hover{
    color: #FFE6B9;
    transition: 0.3s ease;
}

/* POST PAGE FORMATTING */
.thumbnail-img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.post-title{
    /*text-align: center;*/
    font-size: xxx-large;
    color: #EBF1FF;
    text-shadow: 1px 2px 6px #8FA2C4;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 55%;
    text-align: center;
}

.date{
    font-size: x-large;
    color: #EBF1FF;
    position: absolute;
    left: 40%;
    right: 40%;
    top: 63%;
}

.paragraph{
    color: #EBF1FF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    font-size: large;
}

.description{
    margin-top: 80px;
}

.pages-images img{
    width: 40%;
    padding: 10px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.pages-images{
    margin-top: 20px;
    margin-bottom: 60px;
}